@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
body {
    padding: 1em;
}
body, button {
    font-family: 'Lexend', sans-serif;
    font-size: 1.1em;
}

.light {
    background: #eee;
    color: #333;
}
.dark {
    background: #333;
    color: #ccc;
}

button {
    border-radius: 4px;
}

#dashboard {
    shape-outside: margin-box;
    position: fixed;
    top: 1em; right: 1em;
    width: 33vw;
    height: 33vh;
    background: #ccc;
    border: 4px #000 solid;
    border-radius: 1em;
    opacity: .7;
    color: #000;
    padding: 1em;
    z-index: 9;
    overflow: auto;
    font-size: .8em;
}
#dashboard:hover {
    opacity: 1.0;
}

#dashboard.dashboard-light a,
#dashboard.dashboard-medium a {
    color: #000;
    font-size: 1rem;
}
#dashboard.dashboard-dark a {
    color: #fff;
}
#dashboard a:hover {
    text-shadow: 
        0px 0px 2px #fff,
        0px 0px 2px #000;
}

#dashboard.dashboard-light {
    background-image: url(./assets/white-wood-textures.jpg);
    background-size: 100%;
    color: #000;
}
#dashboard.dashboard-medium { 
    background-image: url(./assets/wood-grain-light/21.jpg);
    background-size: 50%;
}
#dashboard.dashboard-dark {
    background-image: url(./assets/mockup-photos-5nUNdLueQio-unsplash.jpg);
    background-size: 100%;
    color: #fff;
}